html, body, .container {
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo{
    background-color: blueviolet;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation-name: cambioColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: dashed 5px black;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes cambioColor {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.circulo2{
    background-color: #f72585;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: cambioColor2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: dashed 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cambioColor2 {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.circulo3{
    background-color: #ffdd00;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation-name: cambioColor3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: dashed 5px black;
}

@keyframes cambioColor3 {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

